body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: right;
  background-color: #1f513f;
  color: white;
}

.nav a {
  margin: 10px;
  text-decoration: none;
}

.nav .active {
  text-decoration: underline;
}

.nav a:visited {
  color: white;
}

.nav a:last-child {
  margin-right: 20px;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchContainer:last-child {
  height: 12pt
}

.searchBox {
  border-radius: .3em;
  border-width: 1.5px;
  height: 18pt;
  font-size: 16pt;
  margin: 20px 10px 5px 20px ;
}

.zipSearchBox {
  border-radius: .3em;
  border-width: 1.5px;
  height: 18pt;
  font-size: 16pt;
  margin: 20px 10px 5px 20px ;
  max-width: 8em;
}
.zipSearchButton {
  height: 18pt;
  margin-top: 22px;
}

.searchIcon {
  margin: 25px -10px;
  display: inline;
}



.parkContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1250px;
  margin: auto;
}

.parkCard {
  flex-grow: 1;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(151, 151, 151);
  max-width: 600px;
  overflow: hidden;
  border-radius: .2em;
  margin: 3px;
}

.parkImg {
  /* border-style: solid;
  border-color: pink; */
  max-height: 120px;
  max-width: 150px;
  overflow: hidden;
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

.parkImg img {
  max-height: 120px;
  display: inline;
  overflow:hidden;
}

.parkContent {
  /* background-color: pink; */
  height: 100px;
  padding: 5px;
  max-width: 75%;
}

.parkContent p{
  font-size: 12px;
  margin-top: 0px;
  margin-right: 10px;
}

.parkDescriptionCompact {
  max-height: 48px;
  line-height: 16px;
  overflow: hidden;
}

.parkDescription {
  line-height: 16px;
}

.bookmark {
  position: absolute;
  top: -1px;
  right: 30%;
  z-index: 100;
}

.parkCardTitle {
  max-width: 90%;
  padding-bottom: 5px;
}
.parkCardStateBadge {
  display: inline;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  bottom: 5px;
  left: 30%
}

.parkCardLink {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
}
.parkCardCost {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 30%
}